In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

In [2]:
#pip install requests[security]

In [3]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1990"

In [4]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [5]:
tables = soup.find_all('table',class_='wikitable')

In [6]:

len(tables)

2

In [7]:

df3 = pd.read_html(str(tables[0]))[0]
 # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [8]:
print(df3)

                            Title               Director  \
0    Aadhi Haqeeqat, Aadha Fasana            Dilip Ghosh
1                    Aaj Ka Arjun           K.C. Bokadia
2                   Aag Ka Dariya    S.V. Rajendra Singh
3                     Aag Ka Gola           David Dhawan
4               Aaj Ke Shahenshah            Shibu Mitra
..                            ...                    ...
109                    Veeru Dada             K.R. Reddy
110                         Wafaa            S. M. Abbas
111                     Zahreelay            Jyotin Goel
112                 Zakhmi Zameen          Mahendra Shah
113                    Zimmedaaar  Santosh Kumar Chauhan

                                                  Cast  \
0                                                  NaN
1                         Amitabh Bachchan, Jayapradha
2    Dilip Kumar, Rekha, Padmini Kolhapure, Amrita ...
3      Sunny Deol, Dimple Kapadia, Archana Puran Singh
4                   Raj Babbar, Jeetendra, Kimi Katkar
..                                                 ...
109          Dharmendra, Amrita Singh, Aditya Pancholi
110                   Farooque Shaikh, Vijayeta Pandit
111              Jeetendra, Sanjay Dutt, Chunky Pandey
112  Ishrat Ali, Jaya Prada, Adiya Pancholi, Paresh...
113               Rajiv Kapoor, Anita Raj, Kimi Katkar

                        Genre Sources
0                         NaN     NaN
1               Action, Drama     [3]
2                       Drama     NaN
3                      Action     [4]
4                         NaN     NaN
..                        ...     ...
109  Action, Drama, Adventure     NaN
110                       NaN     NaN
111                    Action     NaN
112                     Drama     NaN
113                       NaN     NaN

[114 rows x 5 columns]

In [9]:
df = df3

In [10]:
df

,Title,Director,Cast,Genre,Sources
0,"Aadhi Haqeeqat, Aadha Fasana",Dilip Ghosh,NaN,NaN,NaN
1,Aaj Ka Arjun,K.C. Bokadia,"Amitabh Bachchan, Jayapradha","Action, Drama",[3]
2,Aag Ka Dariya,S.V. Rajendra Singh,"Dilip Kumar, Rekha, Padmini Kolhapure, Amrita ...",Drama,NaN
3,Aag Ka Gola,David Dhawan,"Sunny Deol, Dimple Kapadia, Archana Puran Singh",Action,[4]
4,Aaj Ke Shahenshah,Shibu Mitra,"Raj Babbar, Jeetendra, Kimi Katkar",NaN,NaN
...,...,...,...,...,...
109,Veeru Dada,K.R. Reddy,"Dharmendra, Amrita Singh, Aditya Pancholi","Action, Drama, Adventure",NaN
110,Wafaa,S. M. Abbas,"Farooque Shaikh, Vijayeta Pandit",NaN,NaN
111,Zahreelay,Jyotin Goel,"Jeetendra, Sanjay Dutt, Chunky Pandey",Action,NaN
112,Zakhmi Zameen,Mahendra Shah,"Ishrat Ali, Jaya Prada, Adiya Pancholi, Paresh...",Drama,NaN
113,Zimmedaaar,Santosh Kumar Chauhan,"Rajiv Kapoor, Anita Raj, Kimi Katkar",NaN,NaN

In [17]:
cd Users/pradeepvaddigadda/desktop

[Errno 2] No such file or directory: 'Users/pradeepvaddigadda/desktop'
/Users/pradeepvaddigadda

In [18]:
df.to_csv('film_1990.csv', header=False, index=False)

In [11]:
df.isnull().sum()

Title         0
Director     16
Cast          9
Genre        53
Sources     101
dtype: int64

In [12]:
import imdb

moviesDB = imdb.IMDb()

# # Help?
# print(dir(moviesDB))
# ----------------------------------------
# 1) Search for a title
movies = moviesDB.search_movie('inception')

# print('Searching for "inception":')
# for movie in movies:
#     title = movie['title']
#     year = movie['year']
#     print(f'{title} - {year}')

## Help?
#print(movies[0].keys())

In [13]:
#getting genre for 2020 movies using imdb API
def get_genre(x):
  genres = []
  movies = moviesDB.search_movie(x)
  id = movies[0].getID()
  movie = moviesDB.get_movie(id) 
  try:
      genres = movie['genres'] 
      direcStr= ' '.join(map(str,genres))
      genres.append(direcStr)
      return genres
  except:
    print("An exception occurred")

In [14]:
df['genre'] = df['Title'].map(lambda x: get_genre(str(x)))

An exception occurred
An exception occurred
An exception occurred

In [15]:
df.isnull().sum()

Title         0
Director     16
Cast          9
Genre        53
Sources     101
genre         3
dtype: int64

In [18]:
df.drop(['Genre','Sources'],1,inplace=True)

In [19]:
df.isnull().sum()

Title        0
Director    16
Cast         9
genre        3
dtype: int64

In [21]:
df[df['Director'].isnull()]

,Title,Director,Cast,genre
8,Agneekaal,NaN,"Sadashiv Amrapurkar, Tinnu Anand, Raj Babbar","[Action, Crime, Drama, Action Crime Drama]"
24,Baap Numbri Beta Dus Numbri,NaN,"Kader Khan, Shakti Kapoor, Jackie Shroff, Fara...","[Action, Comedy, Crime, Action Comedy Crime]"
29,Chingariyan,NaN,Danny Denzongpa,"[Action, Action]"
32,College Girl,NaN,"Amita Nangia, Pankaj Berry, Veerendra Singh","[Romance, Romance]"
41,Ek Doctor Ki Maut,NaN,NaN,"[Biography, Drama, Biography Drama]"
44,Ghar Ki Laxmi,NaN,Shilpa Shirodkar,None
54,Jagira,NaN,Danny Denzongpa,"[Action, Crime, Drama, Action Crime Drama]"
58,Jeene Do,NaN,"Sanjay Dutt, Jackie Shroff, Farha Naaz","[Action, Drama, Action Drama]"
70,Khatarnaak,NaN,"Sanjay Dutt, Anita Raj, Farha Naaz","[Action, Crime, Drama, Action Crime Drama]"
85,Pyasi Nigahen,NaN,"Birbal, Sahila Chaddha, Ajinkya Deo","[Thriller, Thriller]"
86,Qatil Jawani,NaN,"Babloo, Hari, Harish Kumar","[Crime, Drama, Thriller, Crime Drama Thriller]"
94,Shandaar,NaN,"Mithun Chakraborty, Meenakshi Seshadri, Juhi C...","[Drama, Drama]"
95,Shararat,NaN,"Rakesh Roshan, Shubha","[Comedy, Fantasy, Romance, Comedy Fantasy Roma..."
100,Sun Sajna,NaN,NaN,"[Drama, Family, Romance, Drama Family Romance]"
102,Tadap,NaN,"Chunky Pandey, Meenakshi Seshadri, Nana Patekar","[Thriller, Thriller]"
105,Teri Talash Mein,NaN,"Amala, Rana Jung Bahadur, Rita Bhaduri","[Drama, Family, Mystery, Drama Family Mystery]"

In [26]:
df.iloc[8,1]=' Mustan Burmawalla'
df.iloc[24,1]='Aziz Sejawal'
df.iloc[32,1]='Surendra Gupta'
df.iloc[41,1]='Tapan Sinha'
df.iloc[41,2]='Shabana Azmi,Pankaj Kapur,irfan khan'
df.iloc[54,1]='Kanti Shah'
df.iloc[58,1]='Rajesh Seth'
df.iloc[70,1]='Bharat Rangachary'
df.iloc[85,1]='Sardar Sohi'
df.iloc[86,1]=' Mohan'
df.iloc[94,1]='Vinod Dewan'
df.iloc[100,1]='Chander H. Bahl'
df.iloc[100,2]=' Mithun Chakraborty,Ranjeeta Kaur,Iftekhar. '
df.iloc[102,1]='Milan Luthria'
df.iloc[105,1]=='Vinod Talwar'

False

In [27]:
df.iloc[8,1]

' Mustan Burmawalla'

In [28]:
df.isnull().sum()

Title       0
Director    4
Cast        7
genre       3
dtype: int64

In [30]:
df=df.dropna()

In [31]:
cd /Users/pradeepvaddigadda/desktop

/Users/pradeepvaddigadda/Desktop

In [ ]:
df.to_csv('cleanedfilm_1.csv', header=True, index=True)