In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

In [2]:
#pip install requests[security]

In [3]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1992"

In [4]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [5]:
tables = soup.find_all('table',class_='wikitable')

In [6]:

len(tables)

6

In [7]:
#df0 = pd.read_html(str(tables[5]))[0]
df1 = pd.read_html(str(tables[4]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [8]:

#df = pd.read_html(str(tables[1]))[0]
 # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [9]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [10]:
print(df4)

   Opening  Opening.1                  Title             Director  \
0      JUL        3.0               Jaagruti       Suresh Krissna
1      JUL       10.0        Parda Hai Parda           K. Bapaiah
2      JUL       10.0              Chamatkar          Rajiv Mehra
3      JUL       10.0      Aaj Ka Goonda Raj  Ravi Raja Pinisetty
4      JUL       10.0              Honeymoon       Surendra Menon
5      JUL       10.0                Mashooq       Mirza Brothers
6      JUL       17.0                  Payal        Mahendra Shah
7      JUL       17.0        Zulm Ki Hukumat    Bharat Rangachary
8      JUL       17.0              Nishchaiy      Esmayeel Shroff
9      JUL       24.0         Sapne Sajan Ke     Lawrence D'Souza
10     JUL       24.0      Police Aur Mujrim        K. C. Bokadia
11     JUL       31.0                Bekhudi         Rahul Rawail
12     JUL       31.0              Humshakal            Kalpataru
13     JUL       31.0        Radha Ka Sangam          Kirti Kumar
14     AUG        7.0                Tahalka          Anil Sharma
15     AUG       14.0                   Khel        Rakesh Roshan
16     AUG       14.0                 Deedar   Pramod Chakravorty
17     AUG       14.0   Mehboob Mere Mehboob        Gurdeep Singh
18     AUG       21.0          Bol Radha Bol         David Dhawan
19     AUG       21.0            Kal Ki Awaz          Ravi Chopra
20     AUG       28.0  Jeena Marna Tere Sang          Vijay Reddy
21     AUG       28.0    Isi Ka Naam Zindagi              Kalidas
22     SEP        4.0            Heer Ranjha     Harmesh Malhotra
23     SEP        4.0         Aasman Se Gira      Pankaj Parashar
24     SEP       11.0                 Angaar    Shashilal K. Nair
25     SEP       11.0       Bewaffa Se Waffa     Saawan Kumar Tak
26     SEP       11.0                Balwaan         Deepak Anand
27     SEP       11.0        Waqt Ka Badshah             Manmohan
28     SEP       18.0                 Junoon        Vijay Sadanah
29     SEP       18.0                Sangeet        K. Vishwanath
30     SEP       25.0  Dilwale Kabhi Na Hare             C. Menon
31      25        NaN                    NaN                  NaN

                                                 Cast             Genre
0                         Salman Khan, Karisma Kapoor     Action, Drama
1                                Chunky Pandey, Meena             Drama
2   Naseeruddin Shah, Shahrukh Khan, Urmila Matondkar            Comedy
3         Chiranjeevi, Meenakshi Seshadri, Raj Babbar     Crime, Action
4       Rishi Kapoor, Varsha Usgaonkar, Ashwini Bhave           Romance
5                             Ayesha Julka, Ayub Khan           Romance
6                               Bhagyashree, Himalaya           Romance
7   Dharmendra, Moushmi Chatterji, Govinda, Kimi K...            Action
8   Salman Khan, Vinod Khanna, Karisma Kapoor, Mou...           Romance
9   Jackie Shroff, Rahul Roy, Karisma Kapoor, Guls...  Musical, Romance
10  Raaj Kumar, Vinod Khanna, Meenakshi Seshadri, ...      Crime, Drama
11        Kajol, Kamal Sadanah, Ajay Mankotia, Tanuja  Musical, Romance
12  Vinod Khanna, Meenakshi Seshadri, Nagma, Avina...      Crime, Drama
13                               Govinda, Juhi Chawla           Romance
14  Dharmendra, Naseeruddin Shah, Aditya Pancholi,...            Action
15             Anil Kapoor, Madhuri Dixit, Sonu Walia     Comedy, Drama
16          Akshay Kumar, Karisma Kapoor, Anupam Kher    Romance, Drama
17  Sujoy Mukherjee, Pratibha Sinha, Mohnish Bahl,...           Romance
18            Rishi Kapoor, Juhi Chawla, Mohnish Bahl   Romance, Comedy
19  Dharmendra, Amrita Singh, Pratibha Sinha, Raj ...      Social Drama
20                        Sanjay Dutt, Raveena Tandon            Action
21                       Aamir Khan, Farha Naaz, Pran            Comedy
22                         Anil Kapoor, Sridevi, Pran           Romance
23  Raghubir Yadav, Kalpana Iyer, Anil Kapoor, Sri...           Fantasy
24  Jackie Shroff, Dimple Kapadia, Nana Patekar, O...           Romance
25                  Juhi Chawla, Vivek Mushran, Nagma    Romance, Drama
26        Divya Bharti, Sunil Shetty, Danny Denzongpa            Action
27                          Akash Deep, Moon Moon Sen            Action
28                             Pooja Bhatt, Rahul Roy  Romance, Musical
29                       Jackie Shroff, Madhuri Dixit    Romance, Drama
30        Rahul Roy, Nagma, Prithvi, Varsha Usgaonkar    Romance, Drama
31                                                NaN               NaN

In [11]:
df = df3

In [35]:
cd Users/pradeepvaddigadda/desktop

[Errno 2] No such file or directory: 'Users/pradeepvaddigadda/desktop'
/Users/pradeepvaddigadda

In [36]:
df.to_csv('film_1992.csv', header=False, index=False)

In [12]:
df.isnull().sum()

Opening      0
Opening.1    1
Title        1
Director     1
Cast         1
Genre        1
dtype: int64

In [14]:
df1=df.dropna()

In [ ]:
df1

In [15]:
cd /Users/pradeepvaddigadda/desktop

/Users/pradeepvaddigadda/Desktop

In [16]:
df.to_csv('cleanedfilm_1992.csv', header=True, index=True)