In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

In [2]:
#pip install requests[security]

In [3]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1993"

In [4]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [5]:
tables = soup.find_all('table',class_='wikitable')

In [6]:

len(tables)

2

In [7]:

df3 = pd.read_html(str(tables[1]))[0]
 # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [8]:
print(df3)

                 Title           Director  \
0            15 August      Vicky Ranawat
1                Aadmi        Arshad Khan
2    Aadmi Khilona Hai      J. Om Prakash
3        Aag Ka Toofan        Kanti Mehta
4                Aaina      Deepak Sareen
..                 ...                ...
112             Veerta        Shibu Mitra
113    Waqt Hamara Hai  Bharat Rangachary
114          Yugandhar         N. Chandra
115        Zakhmi Rooh        Pawan Kumar
116   Zakhmo Ka Hisaab         Talukdaars

                                                  Cast  \
0    Ronit Roy, Tisca Chopra, Prem Chopra, Saeed Ja...
1                         Mithun Chakraborty, Gauthami
2    Jeetendra, Reena Roy, Govinda, Meenakshi Seshadri
3      Shashi Kapoor, Dharmendra, Farheen, Ravi Kishen
4             Jackie Shroff, Juhi Chawla, Amrita Singh
..                                                 ...
112      Prasenjit Chatterjee, Prem Chopra, Sunny Deol
113  Akshay Kumar, Sunil Shetty, Ayesha Jhulka, Mam...
114   Mithun Chakraborty, Kabir Bedi, Sangeeta Bijlani
115            Moon Moon Sen, Javed Jaffrey, Raj Kiran
116                   Govinda, Farah Naaz, Kiran Kumar

                             Genre
0                              NaN
1    Action, Crime, Drama, Romance
2                   Drama, Romance
3                              NaN
4                          Romance
..                             ...
112                            NaN
113                Action, Romance
114                            NaN
115                            NaN
116           Action, Crime, Drama

[117 rows x 4 columns]

In [9]:
df = df3

In [10]:
df

,Title,Director,Cast,Genre
0,15 August,Vicky Ranawat,"Ronit Roy, Tisca Chopra, Prem Chopra, Saeed Ja...",NaN
1,Aadmi,Arshad Khan,"Mithun Chakraborty, Gauthami","Action, Crime, Drama, Romance"
2,Aadmi Khilona Hai,J. Om Prakash,"Jeetendra, Reena Roy, Govinda, Meenakshi Seshadri","Drama, Romance"
3,Aag Ka Toofan,Kanti Mehta,"Shashi Kapoor, Dharmendra, Farheen, Ravi Kishen",NaN
4,Aaina,Deepak Sareen,"Jackie Shroff, Juhi Chawla, Amrita Singh",Romance
...,...,...,...,...
112,Veerta,Shibu Mitra,"Prasenjit Chatterjee, Prem Chopra, Sunny Deol",NaN
113,Waqt Hamara Hai,Bharat Rangachary,"Akshay Kumar, Sunil Shetty, Ayesha Jhulka, Mam...","Action, Romance"
114,Yugandhar,N. Chandra,"Mithun Chakraborty, Kabir Bedi, Sangeeta Bijlani",NaN
115,Zakhmi Rooh,Pawan Kumar,"Moon Moon Sen, Javed Jaffrey, Raj Kiran",NaN
116,Zakhmo Ka Hisaab,Talukdaars,"Govinda, Farah Naaz, Kiran Kumar","Action, Crime, Drama"

In [11]:
cd Users/pradeepvaddigadda/desktop

[Errno 2] No such file or directory: 'Users/pradeepvaddigadda/desktop'
/Users/pradeepvaddigadda

In [12]:
df.to_csv('film_1993.csv', header=False, index=False)

In [13]:
df.isnull().sum()

Title        0
Director     7
Cast         2
Genre       47
dtype: int64