In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

In [2]:
#pip install requests[security]

In [3]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1994"

In [4]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [5]:
tables = soup.find_all('table',class_='wikitable')

In [6]:

len(tables)

3

In [7]:

df3 = pd.read_html(str(tables[1]))[0]
 # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [8]:
print(df3)

                    Title            Director  \
0      1942: A Love Story  Vidhu Vinod Chopra
1         Aa Gale Lag Jaa      Hamid Ali Khan
2                     Aag     K. Ravi Shankar
3    Aag Andhi Aur Toofan          Kanti Shah
4        Aag Aur Chingari          Kanti Shah
..                    ...                 ...
101            Yuhi Kabhi        Kumar Bhatia
102                Zaalim     Sikander Bharti
103            Zakhmi Dil    Raju Subramanian
104   Zamane Se Kya Darna           Bobby Raj
105                   Zid     Esmayeel Shroff

                                                  Cast            Genre
0    Anil Kapoor, Manisha Koirala, Jackie Shroff, A...  Romance, Social
1    Jugal Hansraj, Urmila Matondkar, Ajit Khan, Is...          Romance
2                Shilpa Shetty, Govinda, Sonali Bendre          Romance
3                                                  NaN              NaN
4                   Asrani, Shakti Kapoor, Ravi Kishan              NaN
..                                                 ...              ...
101          Tinnu Anand, Master Bhagwan, Kumar Bhatia    Comedy, Drama
102                               Akshay Kumar, Madhoo           Action
103           Akshay Kumar, Ashwini Bhave, Ravi Kishan  Action, Romance
104             Sanjay Dutt, Raveena Tandon, Alok Nath           Family
105                 Jay Mehta, Raageshwari, Mala Sinha              NaN

[106 rows x 4 columns]

In [9]:
df = df3

In [10]:
df

,Title,Director,Cast,Genre
0,1942: A Love Story,Vidhu Vinod Chopra,"Anil Kapoor, Manisha Koirala, Jackie Shroff, A...","Romance, Social"
1,Aa Gale Lag Jaa,Hamid Ali Khan,"Jugal Hansraj, Urmila Matondkar, Ajit Khan, Is...",Romance
2,Aag,K. Ravi Shankar,"Shilpa Shetty, Govinda, Sonali Bendre",Romance
3,Aag Andhi Aur Toofan,Kanti Shah,NaN,NaN
4,Aag Aur Chingari,Kanti Shah,"Asrani, Shakti Kapoor, Ravi Kishan",NaN
...,...,...,...,...
101,Yuhi Kabhi,Kumar Bhatia,"Tinnu Anand, Master Bhagwan, Kumar Bhatia","Comedy, Drama"
102,Zaalim,Sikander Bharti,"Akshay Kumar, Madhoo",Action
103,Zakhmi Dil,Raju Subramanian,"Akshay Kumar, Ashwini Bhave, Ravi Kishan","Action, Romance"
104,Zamane Se Kya Darna,Bobby Raj,"Sanjay Dutt, Raveena Tandon, Alok Nath",Family
105,Zid,Esmayeel Shroff,"Jay Mehta, Raageshwari, Mala Sinha",NaN

In [11]:
cd Users/pradeepvaddigadda/desktop

[Errno 2] No such file or directory: 'Users/pradeepvaddigadda/desktop'
/Users/pradeepvaddigadda

In [12]:
df.to_csv('film_1994.csv', header=False, index=False)

In [11]:
df.isnull().sum()

Title        0
Director     9
Cast         5
Genre       33
dtype: int64

In [12]:
import imdb

moviesDB = imdb.IMDb()
def get_genre(x):
  genres = []
  try:
        movies = moviesDB.search_movie(x)
        id = movies[0].getID()
        movie = moviesDB.get_movie(id) 
        genres = movie['genres'] 
        direcStr= ' '.join(map(str,genres))
        genres.append(direcStr)
        return genres
  except:
    print("An exception occurred")

In [13]:
df['genre'] = df['Title'].map(lambda x: get_genre(str(x)))

An exception occurred
An exception occurred

In [14]:
df.drop(['Genre'],1,inplace=True)

In [15]:
df=df.dropna()

In [16]:
cd /Users/pradeepvaddigadda/desktop

/Users/pradeepvaddigadda/Desktop

In [17]:
df.to_csv('cleanedfilm_1994.csv', header=True, index=True)