In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

In [2]:
#pip install requests[security]

In [3]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1998"

In [4]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [5]:
tables = soup.find_all('table',class_='wikitable')

In [6]:

len(tables)

3

In [7]:

df3 = pd.read_html(str(tables[1]))[0]
 # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [8]:
print(df3)

                 Title         Director  \
0             Bada Din              NaN
1   2001: Do Hazaar Ek     Raj N. Sippy
2              Aakrosh     Lateef Binny
3              Achanak  Naresh Malhotra
4          Aunty No. 1      Kirti Kumar
..                 ...              ...
66           Yugpurush     Partho Ghosh
67               Zakhm     Mahesh Bhatt
68             Zanjeer       Yusuf Bhat
69                 Zor   Sangeeth Sivan
70        Zulm-O-Sitam    K. C. Bokadia

                                                 Cast  \
0   Anjan Dutt, Marc Robinson, Shabana Azmi, Tara ...
1                 Jackie Shroff, Dimple Kapadia, Tabu
2                         Sunil Shetty, Shilpa Shetty
3              Govinda, Manisha Koirala, Paresh Rawal
4   Govinda, Raveena Tandon, Kader Khan, Harish Kumar
..                                                ...
66       Nana Patekar, Jackie Shroff, Manisha Koirala
67  Ajay Devgn, Sonali Bendre, Pooja Bhatt, Akkine...
68  Aditya Pancholi, Sakshi Shivanand, Monica Bedi...
69                           Sunny Deol, Sushmita Sen
70  Mahesh Anand, Vikas Anand, Kishore Anand Bhanu...

                             Genre
0                              NaN
1            Crime, Drama, Mystery
2   Action, Crime, Drama, Thriller
3                            Drama
4                           Comedy
..                             ...
66                           Drama
67                  Nadeem-Shravan
68                          Action
69            Action, Crime, Drama
70                          Action

[71 rows x 4 columns]

In [9]:
df = df3

In [10]:
df

,Title,Director,Cast,Genre
0,Bada Din,NaN,"Anjan Dutt, Marc Robinson, Shabana Azmi, Tara ...",NaN
1,2001: Do Hazaar Ek,Raj N. Sippy,"Jackie Shroff, Dimple Kapadia, Tabu","Crime, Drama, Mystery"
2,Aakrosh,Lateef Binny,"Sunil Shetty, Shilpa Shetty","Action, Crime, Drama, Thriller"
3,Achanak,Naresh Malhotra,"Govinda, Manisha Koirala, Paresh Rawal",Drama
4,Aunty No. 1,Kirti Kumar,"Govinda, Raveena Tandon, Kader Khan, Harish Kumar",Comedy
...,...,...,...,...
66,Yugpurush,Partho Ghosh,"Nana Patekar, Jackie Shroff, Manisha Koirala",Drama
67,Zakhm,Mahesh Bhatt,"Ajay Devgn, Sonali Bendre, Pooja Bhatt, Akkine...",Nadeem-Shravan
68,Zanjeer,Yusuf Bhat,"Aditya Pancholi, Sakshi Shivanand, Monica Bedi...",Action
69,Zor,Sangeeth Sivan,"Sunny Deol, Sushmita Sen","Action, Crime, Drama"
70,Zulm-O-Sitam,K. C. Bokadia,"Mahesh Anand, Vikas Anand, Kishore Anand Bhanu...",Action

In [11]:
cd Users/pradeepvaddigadda/desktop

[Errno 2] No such file or directory: 'Users/pradeepvaddigadda/desktop'
/Users/pradeepvaddigadda

In [12]:
df.to_csv('film_1998.csv', header=False, index=False)

In [11]:
df.isnull().sum()

Title        0
Director     2
Cast         0
Genre       11
dtype: int64