In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

In [2]:
#pip install requests[security]

In [3]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1999"

In [4]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [5]:
tables = soup.find_all('table',class_='wikitable')

In [6]:

len(tables)

3

In [7]:

df3 = pd.read_html(str(tables[1]))[0]
 # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [9]:
print(df3)

                       Title             Director  \
0          Aa Ab Laut Chalen         Rishi Kapoor
1                     Aarzoo     Lawrence D'Souza
2                 Anari No.1        Sandesh Kohli
3               Arjun Pandit         Rahul Rawail
4                   Baadshah  Abbas-Mustan-Mustan
..                       ...                  ...
78                  Thakshak       Govind Nihlani
79                 Trishakti    Madhur Bhandarkar
80      Vaastav: The Reality     Mahesh Manjrekar
81  Yeh Hai Mumbai Meri Jaan         Mahesh Bhatt
82                     Zulmi        Sandesh Kohli

                                                 Cast            Genre
0   Rajesh Khanna, Akshaye Khanna, Aishwarya Rai, ...  Romance, Drama,
1   Akshay Kumar, Madhuri Dixit, Saif Ali Khan, Am...            Drama
2   Govinda, Raveena Tandon, Simran Bagga, Kader K...           Comedy
3             Sunny Deol, Juhi Chawla, Saurabh Shukla           Action
4   Shah Rukh Khan, Twinkle Khanna, Amrish Puri, J...   Action, Comedy
..                                                ...              ...
78          Ajay Devgn, Tabu, Rahul Bose, Amrish Puri            Drama
79  Sadashiv Amrapurkar, Milind Gunaji, Jatin Kanakia              NaN
80                     Sanjay Dutt, Namrata Shirodkar     Crime, Drama
81                      Saif Ali Khan, Twinkle Khanna              NaN
82                       Akshay Kumar, Twinkle Khanna  Action, Romance

[83 rows x 4 columns]

In [53]:
df = df3

In [8]:
df

NameError: name 'df' is not defined

In [55]:
cd Users/pradeepvaddigadda/desktop

[Errno 2] No such file or directory: 'Users/pradeepvaddigadda/desktop'
/Users/pradeepvaddigadda

In [56]:
#df.to_csv('film_1999.csv', header=False, index=False)

In [10]:
df3.isnull().sum()

Title       0
Director    1
Cast        0
Genre       9
dtype: int64

In [11]:
df3[df3['Genre'].isnull()]

,Title,Director,Cast,Genre
9,Chehraa,Gautam Adhikari,"Seema Kapoor, Ayub Khan, Madhoo",NaN
23,Hogi Pyaar Ki Jeet,P. Vasu,"Ajay Devgn, Neha, Arshad Warsi",NaN
47,Love You Hamesha,Kailash Surendranath,"Rishma Malik, Rohit Bal, Sonali Bendre",NaN
53,Munnibai,Kanti Shah,"Dharmendra, Mohan Joshi, Johnny Lever",NaN
54,Naukar Ki Kameez,Mani Kaul,"Samir Ahmed, Vikrishnah Batt, Anu Joseph",NaN
58,Putlibai,Yash Chouhan,"Rajesh Bakshi, Raj Kiran, Raza Murad",NaN
75,Split Wide Open,Dev Benegal,"Rahul Bose, Laila Rouass, Shivaji Satam, Ayesh...",NaN
79,Trishakti,Madhur Bhandarkar,"Sadashiv Amrapurkar, Milind Gunaji, Jatin Kanakia",NaN
81,Yeh Hai Mumbai Meri Jaan,Mahesh Bhatt,"Saif Ali Khan, Twinkle Khanna",NaN

In [21]:
import imdb

moviesDB = imdb.IMDb()
movies = moviesDB.search_movie('inception')
id = movies[0].getID()
movie = moviesDB.get_movie(id)
title = movie['title']
year = movie['year']
rating = movie['rating']
directors = movie['directors']
casting = movie['cast']
direcStr = ' '.join(map(str,directors))
# print(f'directors: {direcStr}')

# actors = ', '.join(map(str, casting))
# print(f'actors: {actors}')

In [18]:
print(movie.keys())

['cast', 'genres', 'runtimes', 'countries', 'country codes', 'language codes', 'color info', 'aspect ratio', 'sound mix', 'box office', 'certificates', 'original air date', 'rating', 'votes', 'cover url', 'plot outline', 'languages', 'title', 'year', 'kind', 'directors', 'writers', 'producers', 'composers', 'cinematographers', 'editors', 'editorial department', 'casting directors', 'production designers', 'art directors', 'set decorators', 'costume designers', 'make up department', 'production managers', 'assistant directors', 'art department', 'sound department', 'special effects', 'visual effects', 'stunts', 'camera department', 'casting department', 'costume departmen', 'location management', 'music department', 'script department', 'transportation department', 'miscellaneous', 'thanks', 'akas', 'writer', 'director', 'top 250 rank', 'production companies', 'distributors', 'special effects companies', 'other companies', 'plot', 'synopsis', 'canonical title', 'long imdb title', 'long imdb canonical title', 'smart canonical title', 'smart long imdb canonical title', 'full-size cover url']

In [54]:

def get_genre(x):
  movies = moviesDB.search_movie(x)
  code= movies[0].getID()
  movie = ia.get_movie(code)
  
  for genre in movie['genres']:
    return genre
  
x='Chehraa'
get_genre(x)

'Thriller'

In [ ]:
def get_dir(x):
  movies = moviesDB.search_movie(x)
  code= movies[0].getID()
  movie = ia.get_movie(code)
  for director in movie['directors']:
      print(director['name'])
  
x='Chehraa'
get_genre(x)

In [57]:

df3.loc[9]=df3.loc[9].fillna(get_genre('Hogi Pyaar Ki Jeet'))
df3.loc[23]=df3.loc[23].fillna(get_genre('Hogi Pyaar Ki Jeet'))
df3.loc[47]=df3.loc[47].fillna(get_genre('Love You Hamesha'))
df3.loc[53]=df3.loc[53].fillna(get_genre('Munnibai'))
df3.loc[54]=df3.loc[54].fillna(get_genre('Naukar Ki Kameez'))
df3.loc[58]=df3.loc[58].fillna(get_genre('Putlibai'))
df3.loc[75]=df3.loc[75].fillna(get_genre('Split Wide Open'))
df3.loc[79]=df3.loc[79].fillna(get_genre('Trishakti'))
df3.loc[81]=df3.loc[81].fillna(get_genre('Yeh Hai Mumbai Meri Jaan'))

In [56]:
df3.loc[9]=df3.loc[9].fillna(get_genre(x))

Title                               Chehraa
Director                    Gautam Adhikari
Cast        Seema Kapoor, Ayub Khan, Madhoo
Genre                              Thriller
Name: 9, dtype: object

In [59]:
df3.isnull().sum()

Title       0
Director    1
Cast        0
Genre       0
dtype: int64

In [61]:
df3[df3['Director'].isnull()]

            Title Director                         Cast   Genre
14  Double Gadbad      NaN  Navneet Nishan, Baba Sehgal  Comedy

In [62]:
df3.loc[14]=df3.loc[9].fillna('Ken Ghosh')

In [63]:
df3.isnull().sum()

Title       0
Director    0
Cast        0
Genre       0
dtype: int64

In [64]:
cd /Users/pradeepvaddigadda/desktop

/Users/pradeepvaddigadda/Desktop

In [66]:
df3.to_csv('cleanedfilm_1999.csv', header=True, index=True)