In [26]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2004"
source = urllib.request.urlopen(link).read()

soup = bs.BeautifulSoup(source,'lxml')



tables = soup.find_all('table',class_='wikitable')

len(tables)

2

In [27]:
#df1 = pd.read_html(str(tables[0]))[0]
#df2 = pd.read_html(str(tables[1]))[0]
#df3 = pd.read_html(str(tables[2]))[0]
#df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [28]:
df3 = pd.read_html(str(tables[1]))[0]
 # avoided "ValueError: invalid literal for int() with base 10: '1"'
print(df3)

                               Title              Director  \
0                    Aabra Ka Daabra         Dheeraj Kumar
1                   Aan: Men at Work     Madhur Bhandarkar
2                         Ab... Bas!    Rajesh Kumar Singh
3   Ab Tumhare Hawale Watan Saathiyo           Anil Sharma
4                            Aetbaar          Vikram Bhatt
..                               ...                   ...
92           Where's the Party Yaar?         Benny Mathews
93                               Woh          Raj N. Sippy
94               Yeh Lamhe Judaai Ke  Birendra Nath Tiwary
95                  Yehi Hai Zindagi        Ajay Phansekar
96                              Yuva           Mani Ratnam

                                                 Cast          Genre
0   Hansika Motwani, Shweta Tiwari, Vishal Lalwani...        Fantasy
1   Akshay Kumar, Sunil Shetty, Shatrughan Sinha, ...         Action
2                 Shawar Ali, Rohit Roy, Diana Hayden          Adult
3   Amitabh Bachchan, Akshay Kumar, Bobby Deol, Di...     War, Drama
4        Amitabh Bachchan, Bipasha Basu, John Abraham       Thriller
..                                                ...            ...
92                     Diwakar Pathak, Sunil Malhotra         Comedy
93    Priyanshu Chatterjee, Cleo Issacs, Shahbaz Khan       Thriller
94                      Shahrukh Khan, Raveena Tandon          Drama
95             Gracy Singh, Sahil Khan, Parvin Dabbas          Drama
96  Ajay Devgn, Abhishek Bachchan, Vivek Oberoi, K...  Drama, Action

[97 rows x 4 columns]

In [29]:
df3.isnull().sum()

Title       0
Director    2
Cast        1
Genre       4
dtype: int64

In [30]:
df3[df3['Genre'].isnull()]

,Title,Director,Cast,Genre
5,Agnipankh,Sanjeev Puri,"Jimmy Shergill, Rahul Dev, Divya Dutta, Shamit...",NaN
27,Hatya,NaN,NaN,NaN
63,Netaji Subhas Chandra Bose: The Forgotten Hero,NaN,"Sachin Khedekar, Kulbhushan Kharbanda, Rajit K...",NaN
70,Popcorn Khao! Mast Ho Jao,Kabir Sadanand,"Akshay Kapoor, Tanisha, Yash Tonk, Reshmi Nigam",NaN

In [7]:
df3.loc[5]=df3.loc[5].fillna(' Action,Drama,Romance')

In [8]:
df3.loc[5]=df3.loc[5].fillna('Comedy,Drama,Romance')

In [40]:
df3.loc[70]=df3.loc[5].fillna('comedy,drama')

In [4]:
df3.to_csv('film_2004.csv', header=False, index=False)

In [39]:
df3.loc[63]

Title          Netaji Subhas Chandra Bose: The Forgotten Hero
Director                                        Shyam Benegal
Cast        Sachin Khedekar, Kulbhushan Kharbanda, Rajit K...
Genre                             Biography,Drama,History,War
Name: 63, dtype: object

In [36]:
df3.iloc[63,1]='Shyam Benegal'

In [38]:
df3.iloc[63,3]='Biography,Drama,History,War'

In [11]:
df3[df3['Genre'].isnull()]

,Title,Director,Cast,Genre
27,Hatya,NaN,NaN,NaN
70,Popcorn Khao! Mast Ho Jao,Kabir Sadanand,"Akshay Kapoor, Tanisha, Yash Tonk, Reshmi Nigam",NaN

In [41]:
df3.dropna()

,Title,Director,Cast,Genre
0,Aabra Ka Daabra,Dheeraj Kumar,"Hansika Motwani, Shweta Tiwari, Vishal Lalwani...",Fantasy
1,Aan: Men at Work,Madhur Bhandarkar,"Akshay Kumar, Sunil Shetty, Shatrughan Sinha, ...",Action
2,Ab... Bas!,Rajesh Kumar Singh,"Shawar Ali, Rohit Roy, Diana Hayden",Adult
3,Ab Tumhare Hawale Watan Saathiyo,Anil Sharma,"Amitabh Bachchan, Akshay Kumar, Bobby Deol, Di...","War, Drama"
4,Aetbaar,Vikram Bhatt,"Amitabh Bachchan, Bipasha Basu, John Abraham",Thriller
...,...,...,...,...
92,Where's the Party Yaar?,Benny Mathews,"Diwakar Pathak, Sunil Malhotra",Comedy
93,Woh,Raj N. Sippy,"Priyanshu Chatterjee, Cleo Issacs, Shahbaz Khan",Thriller
94,Yeh Lamhe Judaai Ke,Birendra Nath Tiwary,"Shahrukh Khan, Raveena Tandon",Drama
95,Yehi Hai Zindagi,Ajay Phansekar,"Gracy Singh, Sahil Khan, Parvin Dabbas",Drama
96,Yuva,Mani Ratnam,"Ajay Devgn, Abhishek Bachchan, Vivek Oberoi, K...","Drama, Action"

In [42]:
cd /Users/pradeepvaddigadda/desktop

/Users/pradeepvaddigadda/Desktop

In [ ]:
df.to_csv('cleanedfilm_2018.csv', header=True, index=True)