In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2005"
source = urllib.request.urlopen(link).read()

soup = bs.BeautifulSoup(source,'lxml')



tables = soup.find_all('table',class_='wikitable')

len(tables)

2

In [3]:
#df1 = pd.read_html(str(tables[0]))[0]
#df2 = pd.read_html(str(tables[1]))[0]
#df3 = pd.read_html(str(tables[2]))[0]
#df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [2]:
df3 = pd.read_html(str(tables[1]))[0]
 # avoided "ValueError: invalid literal for int() with base 10: '1"'
print(df3)

                           Title            Director  \
0                       7½ Phere       Ishaan Trvedi
1                       99.9 FM,       Sanjay Bhatia
2            Aashiq Banaya Aapne         Aditya Datt
3                         Amavas                 NaN
4                        Anjaane  Harry W. Fernandes
..                           ...                 ...
119  Waqt: The Race Against Time          Vipul Shah
120                       Yahaan                 NaN
121                       Yakeen                 NaN
122      Zameer: The Fire Within               Kamal
123                        Zeher          Mohit Suri

                                                  Cast  \
0                             Juhi Chawla, Irrfan Khan
1              Shawar Ali, Raima Sen, Dipannita Sharma
2            Emraan Hashmi, Tanushree Dutta, Sonu Sood
3                                                  NaN
4                       Manisha Koirala, Sanjay Kapoor
..                                                 ...
119  Amitabh Bachchan, Akshay Kumar, Shefali Shah, ...
120                     Jimmy Shergill, Minissha Lamba
121          Arjun Rampal, Priyanka Chopra, Kim Sharma
122         Ajay Devgn, Ameesha Patel, Mahima Chaudhry
123       Shamita Shetty, Emraan Hashmi, Udita Goswami

                         Genre
0                       Comedy
1             Crime / Thriller
2    Romance, Drama / Thriller
3                          NaN
4                     Thriller
..                         ...
119                      Drama
120                    Romance
121                      Drama
122                      Drama
123            Drama, Thriller

[124 rows x 4 columns]

In [3]:
df3.isnull().sum()

Title        0
Director    55
Cast         3
Genre       27
dtype: int64

In [6]:
df3.to_csv('film_2005.csv', header=False, index=False)

In [6]:
import imdb

moviesDB = imdb.IMDb()

# # Help?
# print(dir(moviesDB))
# ----------------------------------------
# 1) Search for a title
movies = moviesDB.search_movie('inception')

# print('Searching for "inception":')
# for movie in movies:
#     title = movie['title']
#     year = movie['year']
#     print(f'{title} - {year}')

## Help?
#print(movies[0].keys())

In [9]:
#getting director for 2020 movies using imdb API
def get_genre(x):
  genres = []
  try:
     movies = moviesDB.search_movie(x)
     id = movies[0].getID()
     movie = moviesDB.get_movie(id)  
     directors = movie['directors'] 
     direcStr = ' '.join(map(str,directors))
     genres.append(direcStr)
     return genres
  except:
    print("An exception occurred")

In [10]:
df3['director'] = df3['Title'].map(lambda x: get_genre(str(x)))

An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred

In [11]:
df3.isnull().sum()

Title        0
Director    55
Cast         3
Genre       27
director     8
dtype: int64

In [38]:
def get_genre(x):
  genres = []
  try:
        movies = moviesDB.search_movie(x)
        id = movies[0].getID()
        movie = moviesDB.get_movie(id) 
        genres = movie['genres'] 
        direcStr= ' '.join(map(str,genres))
        genres.append(direcStr)
        return genres
  except:
    print("An exception occurred")

In [17]:
df3['genre'] = df3['Title'].map(lambda x: get_genre(str(x)))

An exception occurred
An exception occurred
An exception occurred
An exception occurred

In [18]:
df3.isnull().sum()

Title        0
Director    55
Cast         3
Genre       27
director     8
genre        4
dtype: int64

In [19]:
df3.drop(['Director','Genre'],axis=1,inplace=True)

In [20]:
df3.isnull().sum()

Title       0
Cast        3
director    8
genre       4
dtype: int64

In [ ]:
df3.isnull().sum()

In [37]:
df3[df3['genre'].isnull()]

,Title,Cast,director,genre
113,Topless,"Shweta Menon, Tarun Khanna, Sardar Sohi",None,None
117,Vidyaarthi,"Jackie Shroff, Paresh Rawal, Rahul Roy",[Sasikumar],None
122,Zameer: The Fire Within,"Ajay Devgn, Ameesha Patel, Mahima Chaudhry",None,None

In [36]:
df3.iloc[110,3]='Drama'

In [44]:
df3.iloc[113,3]='Drama,romance'

In [41]:
df3[df3['genre'].isnull()]

,Title,Cast,director,genre
117,Vidyaarthi,"Jackie Shroff, Paresh Rawal, Rahul Roy",[Sasikumar],None
122,Zameer: The Fire Within,"Ajay Devgn, Ameesha Patel, Mahima Chaudhry",None,None

In [45]:
df3.iloc[117,3]='Action'

In [46]:
df3.iloc[122,3]=' Drama,Romance'

In [47]:
df3.iloc[122,2]='Kamal'

In [48]:
df3.isnull().sum()

Title       0
Cast        3
director    7
genre       0
dtype: int64

In [49]:
df3[df3['director'].isnull()]

,Title,Cast,director,genre
5,Apaharan,"Ajay Devgn, Bipasha Basu, Nana Patekar",None,"[Action, Thriller, Action Thriller]"
11,Black,"Amitabh Bachchan, Rani Mukherji, Ayesha Kapur,...",None,"[Crime, Drama, Fantasy, Romance, Thriller, Cri..."
36,Fareb,"Shilpa Shetty, Manoj Bajpai, Shamita Shetty",None,"[Thriller, Thriller]"
49,James,"Mohit Ahlawat, Nisha Kothari",None,"[Drama, Drama]"
55,Kasak,"Lucky Ali, Meera",None,"[Drama, Drama]"
110,Tezaab – The Acid of Love,"Mighty Khan, Parvin Dabas, Shruti Sharma",None,Drama
113,Topless,"Shweta Menon, Tarun Khanna, Sardar Sohi",None,"Drama,romance"

In [50]:
df3.iloc[5,2]='Prakash Jha'
df3.iloc[11,2]='Sanjay Leela Bhansali'
df3.iloc[36,2]='Vikram Bhatt'
df3.iloc[49,2]='Rohit Jugraj Chauhan'
df3.iloc[55,2]='Rajiv Babbar'
df3.iloc[110,2]='Shakeel Noorani'
df3.iloc[113,2]='Nabh Kumar'

In [51]:
df3.isnull().sum()

Title       0
Cast        3
director    0
genre       0
dtype: int64

In [53]:
df3[df3['Cast'].isnull()]

,Title,Cast,director,genre
3,Amavas,NaN,[Bhushan Patel],"[Horror, Thriller, Horror Thriller]"
19,Chausar,NaN,[Sagar Sarhadi],"[Drama, Drama]"
40,Hanuman,NaN,[V.G. Samant Milind Ukey],"[Animation, Animation]"

In [54]:
df3.iloc[3,1]='Sachiin Joshi,Nargis Fakhri,Vivan Bhatena'
df3.iloc[19,1]='anil kapoor,ashok kumar'
df3.iloc[40,1]='mukesh kanna,mona gosh shetty'

In [55]:
cd /Users/pradeepvaddigadda/desktop

/Users/pradeepvaddigadda/Desktop

In [56]:
df3.to_csv('cleanedfilm_2005.csv', header=True, index=True)