In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2007"
source = urllib.request.urlopen(link).read()

soup = bs.BeautifulSoup(source,'lxml')



tables = soup.find_all('table',class_='wikitable')

len(tables)

2

In [2]:
#df1 = pd.read_html(str(tables[0]))[0]
#df2 = pd.read_html(str(tables[1]))[0]
#df3 = pd.read_html(str(tables[2]))[0]
#df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [3]:
df3 = pd.read_html(str(tables[1]))[0]
 # avoided "ValueError: invalid literal for int() with base 10: '1"'
print(df3)

                Title                              Director  \
0                1971                           Amrit Sagar
1             50 Lakh                 Chandra Sekhar Yeleti
2            68 Pages                      Sridhar Rangayan
3                 Aag                       Ram Gopal Varma
4         Aaja Nachle                            Anil Mehta
..                ...                                   ...
102         The Train  Hasnain Hyderabadwala, Raksha Mistry
103  Victoria No. 203                       Anant Mahadevan
104           Welcome                          Anees Bazmee
105             Yatra                          Gautam Ghose
106          Zamaanat                         S. Ramanathan

                                                  Cast             Genre
0                            Manoj Bajpai, Ravi Kishan               War
1                         Pawan Malhotra, Mohit Chadda               NaN
2           Mouli Ganguly, Joy Sengupta, Jayati Bhatia               NaN
3    Amitabh Bachchan, Ajay Devgn, Sushmita Sen, Ni...  Action, Thriller
4    Madhuri Dixit, Akshaye Khanna, Kunal Kapoor, K...           Musical
..                                                 ...               ...
102          Emraan Hashmi, Geeta Basra, Sayali Bhagat               NaN
103  Om Puri, Anupam Kher, Jimmy Sheirgill, Preeti ...            Comedy
104  Akshay Kumar, Nana Patekar, Anil Kapoor, Katri...            Comedy
105                  Rekha, Nana Patekar, Deepti Naval               NaN
106     Amitabh Bachchan, Arshad Warsi, Karisma Kapoor             Drama

[107 rows x 4 columns]

In [3]:
#df3.to_csv('film_2007.csv', header=False, index=False)

In [4]:
df3.isnull().sum()

Title        0
Director     0
Cast         0
Genre       19
dtype: int64

In [6]:
df3[df3['Genre'].isnull()]

,Title,Director,Cast,Genre
1,50 Lakh,Chandra Sekhar Yeleti,"Pawan Malhotra, Mohit Chadda",NaN
2,68 Pages,Sridhar Rangayan,"Mouli Ganguly, Joy Sengupta, Jayati Bhatia",NaN
9,Apna Asmaan,Kaushik Roy,"Irrfan Khan, Shobana",NaN
11,Aur Pappu Paas Ho Gaya,S. Soni,"Krishna Abhishek, Kashmira Shah, Jackie Shroff",NaN
21,The Blue Umbrella,Vishal Bhardwaj,"Shreya Sharma, Pankaj Kapur",NaN
32,Delhii Heights,Anand Kumar,"Jimmy Sheirgill, Neha Dhupia, Om Puri",NaN
35,Dharm,Bhavna Talwar,"Pankaj Kapur, Hrishitaa Bhatt, Supriya Pathak",NaN
36,Dhokha,Pooja Bhatt,"Muzammil Ibrahim, Tulip Joshi, Anupam Kher",NaN
38,Dil Dosti Etc,Manish Tiwary,"Shreyas Talpade, Nikita Anand, Imaad Shah, Smr...",NaN
41,Ek Chalis Ki Last Local,Sanjay Khanduri,"Abhay Deol, Neha Dhupia",NaN
43,Familywala,Neeraj Vora,"Arjun Rampal, Dia Mirza",NaN
48,Go,Manish Shrivastava,"Nisha Kothari, Kay Kay Menon, Rajpal Yadav",NaN
71,Mumbai Salsa,Manoj Tyagi,"Vir Das, Linda Arsenio, Manjari Phadnis, Dilip...",NaN
90,Sambar Salsa,Aditya Raj Kapoor,Rishi Kapoor,NaN
94,Showbiz,Raju Khan,"Tushar Jalota, Mrinalini Sharma",NaN
96,Strangers,Anand Rai,"Jimmy Sheirgill, Kay Kay Menon, Nandana Sen, S...",NaN
97,Sunglass,Rituparno Ghosh,"Konkona Sen Sharma, R. Madhavan, Raima Sen",NaN
102,The Train,"Hasnain Hyderabadwala, Raksha Mistry","Emraan Hashmi, Geeta Basra, Sayali Bhagat",NaN
105,Yatra,Gautam Ghose,"Rekha, Nana Patekar, Deepti Naval",NaN

In [8]:
df3.loc[1]=df3.loc[1].fillna(' Comedy,Thriller')

In [9]:
df3.loc[1]=df3.loc[1].fillna('Comedy,Thriller')
df3.loc[2]=df3.loc[2].fillna('Drama')
df3.loc[9]=df3.loc[9].fillna('Drama,Sci-Fi')
df3.loc[11]=df3.loc[11].fillna(' Comedy')
df3.loc[21]=df3.loc[21].fillna('  Comedy,Drama,Family,Fantasy')
df3.loc[32]=df3.loc[32].fillna(' Drama,Romance')
df3.loc[35]=df3.loc[35].fillna('Drama,HistoricalFiction')
df3.loc[38]=df3.loc[38].fillna(' Comedy,Drama')
df3.loc[41]=df3.loc[41].fillna(' Drama')
df3.loc[43]=df3.loc[43].fillna(' Thriller,Romance ')
df3.loc[48]=df3.loc[48].fillna(' Comedy,Thriller')
df3.loc[71]=df3.loc[71].fillna(' Comedy,Drama')
df3.loc[90]=df3.loc[90].fillna(' Comedy,Drama')
df3.loc[94]=df3.loc[94].fillna(' Action,Drama,Music,Romance')
df3.loc[96]=df3.loc[96].fillna('  Drama,Romance,Thriller')
df3.loc[97]=df3.loc[97].fillna(' Drama')
df3.loc[102]=df3.loc[102].fillna('Crime,Drama,Thriller')
df3.loc[105]=df3.loc[105].fillna('Drama')

In [10]:
df3.isnull().sum()

Title       0
Director    0
Cast        0
Genre       1
dtype: int64

In [11]:
df3[df3['Genre'].isnull()]

     Title     Director                                        Cast Genre
36  Dhokha  Pooja Bhatt  Muzammil Ibrahim, Tulip Joshi, Anupam Kher   NaN

In [12]:
df3.loc[105]=df3.loc[105].fillna('Drama,Action')

In [13]:
cd /Users/pradeepvaddigadda/desktop

/Users/pradeepvaddigadda/Desktop

In [2]:
#df3.to_csv('cleanedfilm_2007.csv', header=True, index=False)