In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2008"
source = urllib.request.urlopen(link).read()

soup = bs.BeautifulSoup(source,'lxml')



tables = soup.find_all('table',class_='wikitable')

len(tables)

2

In [2]:
#df1 = pd.read_html(str(tables[0]))[0]
#df2 = pd.read_html(str(tables[1]))[0]
#df3 = pd.read_html(str(tables[2]))[0]
#df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [3]:
df3 = pd.read_html(str(tables[1]))[0]
 # avoided "ValueError: invalid literal for int() with base 10: '1"'
print(df3)

   Opening  Opening.1                      Title           Director  \
0      JAN        4.0     Humne Jeena Seekh Liya        Milind Ukey
1      JAN        4.0  Rama Rama Kya Hai Dramaa?    S. Chandrakaant
2      JAN       11.0                  Halla Bol  Rajkumar Santoshi
3      JAN       18.0          Bombay to Bangkok    Nagesh Kukunoor
4      JAN       18.0                      Tulsi         Ajay Kumar
..     ...        ...                        ...                ...
81     DEC       12.0        Rab Ne Bana Di Jodi      Aditya Chopra
82     DEC       19.0                      Wafaa      Rakesh Sawant
83     DEC       26.0                    Ghajini   A. R. Murugadoss
84     DEC       26.0                      Jumbo  Kompin Kemgumnird
85     DEC        NaN                        NaN                NaN

                                                 Cast  \
0             Siddharth Chandekar, Mrunmayi Deshpande
1   Rajpal Yadav, Neha Dhupia, Aashish Chaudhary, ...
2              Ajay Devgn, Vidya Balan, Pankaj Kapoor
3                   Shreyas Talpade, Lena Christensen
4      Irrfan Khan, Manisha Koirala, Arzoo Govitrikar
..                                                ...
81                     Shah Rukh Khan, Anushka Sharma
82  Rajesh Khanna, Laila Khan, Shahib Chopra, Diya...
83         Aamir Khan, Asin, Jiah Khan, Pradeep Rawat
84  Akshay Kumar, Lara Dutta, Dimple Kapadia, Rajp...
85                                                NaN

                                        Genre
0                                      Comedy
1                                      Comedy
2                                      Social
3                      Comedy, Drama, Romance
4                                         NaN
..                                        ...
81                                    Romance
82                    Romance, Drama, Romance
83  action, Drama, Mystery, Romance, Thriller
84                                  Animation
85                                        NaN

[86 rows x 6 columns]

In [3]:
#df3.to_csv('film_2008.csv', header=False, index=False)

In [30]:
df3.isnull().sum()

Opening      0
Opening.1    1
Title        1
Director     1
Cast         2
Genre        5
dtype: int64

In [36]:
df3.loc[4] = df3.loc[4].fillna('Drama',axis=0)

In [38]:
df3.loc[28] = df3.loc[28].fillna(' Crime,Drama,Thriller',axis=0)
df3.loc[42] = df3.loc[42].fillna('comedy',axis=0)
df3.loc[47] = df3.loc[47].fillna('Drama',axis=0)

In [29]:
#df1=df3[df3['Genre'].isnull()]
#df1

,Opening,Opening.1,Title,Director,Cast,Genre
4,JAN,18.0,Tulsi,Ajay Kumar,"Irrfan Khan, Manisha Koirala, Arzoo Govitrikar",NaN
28,JUN,13.0,Summer 2007,Suhail Tatari,"Sikandar Kher, Gul Panag, Neetu Chandra, Susan...",NaN
42,AUG,8.0,Good Luck!,"Karan Sharma, Joginder Sharma","Aryeman, Sayali Bhagat, Ranvir Shorey, Lucky A...",NaN
47,AUG,22.0,Mumbai Meri Jaan,Nishikanth Kamath,"Kay Kay Menon, Soha Ali Khan, Paresh Rawal, R....",NaN
85,DEC,NaN,NaN,NaN,NaN,NaN

In [31]:
df1.loc[4] = df1.loc[4].fillna('Drama',axis=0)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [32]:
df1=df1[df1['Genre'].isnull()]
df1

,Opening,Opening.1,Title,Director,Cast,Genre
28,JUN,13.0,Summer 2007,Suhail Tatari,"Sikandar Kher, Gul Panag, Neetu Chandra, Susan...",NaN
42,AUG,8.0,Good Luck!,"Karan Sharma, Joginder Sharma","Aryeman, Sayali Bhagat, Ranvir Shorey, Lucky A...",NaN
47,AUG,22.0,Mumbai Meri Jaan,Nishikanth Kamath,"Kay Kay Menon, Soha Ali Khan, Paresh Rawal, R....",NaN
85,DEC,NaN,NaN,NaN,NaN,NaN

In [20]:
df1.index

Int64Index([4, 28, 42, 47, 85], dtype='int64')

In [37]:
df3.loc[4]

Opening                                                 JAN
Opening.1                                                18
Title                                                 Tulsi
Director                                         Ajay Kumar
Cast         Irrfan Khan, Manisha Koirala, Arzoo Govitrikar
Genre                                                 Drama
Name: 4, dtype: object

In [40]:
df3.dropna()

,Opening,Opening.1,Title,Director,Cast,Genre
0,JAN,4.0,Humne Jeena Seekh Liya,Milind Ukey,"Siddharth Chandekar, Mrunmayi Deshpande",Comedy
1,JAN,4.0,Rama Rama Kya Hai Dramaa?,S. Chandrakaant,"Rajpal Yadav, Neha Dhupia, Aashish Chaudhary, ...",Comedy
2,JAN,11.0,Halla Bol,Rajkumar Santoshi,"Ajay Devgn, Vidya Balan, Pankaj Kapoor",Social
3,JAN,18.0,Bombay to Bangkok,Nagesh Kukunoor,"Shreyas Talpade, Lena Christensen","Comedy, Drama, Romance"
4,JAN,18.0,Tulsi,Ajay Kumar,"Irrfan Khan, Manisha Koirala, Arzoo Govitrikar",Drama
...,...,...,...,...,...,...
80,DEC,5.0,"Oh, My God",Sourabh Shrivastava,"Vinay Pathak, Saurabh Shukla, Divya Dutta, Gau...",Comedy
81,DEC,12.0,Rab Ne Bana Di Jodi,Aditya Chopra,"Shah Rukh Khan, Anushka Sharma",Romance
82,DEC,19.0,Wafaa,Rakesh Sawant,"Rajesh Khanna, Laila Khan, Shahib Chopra, Diya...","Romance, Drama, Romance"
83,DEC,26.0,Ghajini,A. R. Murugadoss,"Aamir Khan, Asin, Jiah Khan, Pradeep Rawat","action, Drama, Mystery, Romance, Thriller"
84,DEC,26.0,Jumbo,Kompin Kemgumnird,"Akshay Kumar, Lara Dutta, Dimple Kapadia, Rajp...",Animation

In [41]:
cd /Users/pradeepvaddigadda/desktop

/Users/pradeepvaddigadda/Desktop

In [43]:
df3.to_csv('cleanedfilm_2008.csv', header=True, index=True)